In [1]:
import pandas as pd ##import pandas
import requests     ##import requests

In [7]:
resp = requests.get("https://v6.vbb.transport.rest/locations?query=berlin") #get requests with url link without key

if resp.status_code == 200:     ##using if statement to check the status of the request
    print('succesful')
else:
    print('your head is not correct')

In [16]:
resp.json() ##opening the request as a json file

[{'type': 'stop',
  'id': '900037168',
  'name': 'Berlin, Albrechtshof Bhf',
  'location': {'type': 'location',
   'id': '900037168',
   'latitude': 52.549339,
   'longitude': 13.129159},
  'products': {'suburban': False,
   'subway': False,
   'tram': False,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': True},
  'stationDHID': 'de:11000:900037168'},
 {'type': 'stop',
  'id': '900029305',
  'name': 'Berlin, Staaken Bhf',
  'location': {'type': 'location',
   'id': '900029305',
   'latitude': 52.537698,
   'longitude': 13.142157},
  'products': {'suburban': False,
   'subway': False,
   'tram': False,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': True},
  'stationDHID': 'de:11000:900029305'},
 {'type': 'stop',
  'id': '900180008',
  'name': 'Bahnhofstr./Lindenstr. (Berlin)',
  'location': {'type': 'location',
   'id': '900180008',
   'latitude': 52.450916,
   'longitude': 13.572408},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900180008'},
 {'type': 'stop',
  'id': '900180009',
  'name': 'Bahnhofstr./Seelenbinderstr. (Berlin)',
  'location': {'type': 'location',
   'id': '900180009',
   'latitude': 52.455761,
   'longitude': 13.577118},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900180009'},
 {'type': 'stop',
  'id': '900170011',
  'name': 'Barnimplatz (Berlin)',
  'location': {'type': 'location',
   'id': '900170011',
   'latitude': 52.567803,
   'longitude': 13.573694},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900170011'},
 {'type': 'stop',
  'id': '900170010',
  'name': 'Betriebshof Marzahn (Berlin)',
  'location': {'type': 'location',
   'id': '900170010',
   'latitude': 52.549006,
   'longitude': 13.583717},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900170010'},
 {'type': 'stop',
  'id': '900170524',
  'name': 'Brodowiner Ring (Berlin)',
  'location': {'type': 'location',
   'id': '900170524',
   'latitude': 52.54764,
   'longitude': 13.578359},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900170524'},
 {'type': 'stop',
  'id': '900171517',
  'name': 'Boschpoler Str. (Berlin)',
  'location': {'type': 'location',
   'id': '900171517',
   'latitude': 52.527504,
   'longitude': 13.548811},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900171517'},
 {'type': 'stop',
  'id': '900100041',
  'name': 'Brunnenstr./Invalidenstr. (Berlin)',
  'location': {'type': 'location',
   'id': '900100041',
   'latitude': 52.532601,
   'longitude': 13.398889},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': True,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900100041'},
 {'type': 'stop',
  'id': '900140506',
  'name': 'Behaimstr. (Berlin)',
  'location': {'type': 'location',
   'id': '900140506',
   'latitude': 52.54995,
   'longitude': 13.44628},
  'products': {'suburban': False,
   'subway': False,
   'tram': True,
   'bus': False,
   'ferry': False,
   'express': False,
   'regional': False},
  'stationDHID': 'de:11000:900140506'}]

In [15]:
resp.json()[0]['type'] ## accessing the first list on the requests

'stop'

In [17]:
x = resp.json() ## assigning the request to a variable X

In [18]:
df = pd.DataFrame.from_records(x) #converting the list to a dataframe

In [19]:
df.head()

,type,id,name,location,products,stationDHID
0,stop,900037168,"Berlin, Albrechtshof Bhf","{'type': 'location', 'id': '900037168', 'latit...","{'suburban': False, 'subway': False, 'tram': F...",de:11000:900037168
1,stop,900029305,"Berlin, Staaken Bhf","{'type': 'location', 'id': '900029305', 'latit...","{'suburban': False, 'subway': False, 'tram': F...",de:11000:900029305
2,stop,900180008,Bahnhofstr./Lindenstr. (Berlin),"{'type': 'location', 'id': '900180008', 'latit...","{'suburban': False, 'subway': False, 'tram': T...",de:11000:900180008
3,stop,900180009,Bahnhofstr./Seelenbinderstr. (Berlin),"{'type': 'location', 'id': '900180009', 'latit...","{'suburban': False, 'subway': False, 'tram': T...",de:11000:900180009
4,stop,900170011,Barnimplatz (Berlin),"{'type': 'location', 'id': '900170011', 'latit...","{'suburban': False, 'subway': False, 'tram': T...",de:11000:900170011

In [47]:
newdf = df[['type','id','name','stationDHID']] #assigning the dataframe to newdf

In [48]:
newdf.head()

   type         id                                   name         stationDHID
0  stop  900037168               Berlin, Albrechtshof Bhf  de:11000:900037168
1  stop  900029305                    Berlin, Staaken Bhf  de:11000:900029305
2  stop  900180008        Bahnhofstr./Lindenstr. (Berlin)  de:11000:900180008
3  stop  900180009  Bahnhofstr./Seelenbinderstr. (Berlin)  de:11000:900180009
4  stop  900170011                   Barnimplatz (Berlin)  de:11000:900170011

In [ ]:
##extracting different columns from the API response

In [39]:
name = []
for names in resp.json():
    name.append(names['name'])
    df_name = pd.DataFrame(name)
    ##print(name)

In [38]:
latitude = []
for lat in resp.json():
    latitude.append(lat['location']['latitude'])
    df_latitude = pd.DataFrame(latitude)
    ##print(latitude)

In [37]:
products = []
for prod in resp.json():
    products.append(prod['products'])
    df_products = pd.DataFrame(products)
    ##print(products)

In [43]:
longitude = []
for long in resp.json():
    longitude.append(long['location']['longitude'])
    df_longitude = pd.DataFrame(longitude)
    ##print(longitude)

In [50]:
newdf.to_csv('Cleanedapidata.csv', index=False)